.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
}

.links {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  width: 35%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
